@use "../../assets/styles/" as *;

.AboutUsPage {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include sm() {
    padding: 40px 20px 100px 20px;
    justify-content: flex-start;
  }
}
