@use "../../assets/styles/" as *;

.SignupPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 160px 220px;

  @include sm() {
    padding: 40px 20px 100px 20px;
    justify-content: flex-start;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #eeeff4;
    padding: 124px 220px;
    row-gap: 32px;

    @include sm() {
      padding: 20px;
    }

    .button_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      @include sm() {
        flex-direction: column;
        row-gap: 12px;
      }

      button {
        color: #001371;
        font-family: Montserrat;
        font-size: 24.159px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        // padding: 20px 120px;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid #cbcbcb;
        background: #fff;
        transition: all 0.5s ease;
        width: 50%;
        display: flex;
        padding: 21.743px 130.459px;
        justify-content: center;
        align-items: center;
        gap: 12.08px;

        @include sm() {
          font-size: 18px;
          padding: 14px 0;
          width: 100%;
        }
      }

      button:hover {
        background: #ebebeb;
      }
    }

    .profile_image_container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;

      .input_container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .file_input {
          width: 15%;
          height: 100%;
          cursor: pointer;
          // border: 1px solid red;
          border-radius: 50%;
          opacity: 0;

          @include sm() {
            width: 30%;
          }
        }
      }

      .image_placeholder {
        width: 15%;
        height: auto;
        cursor: pointer;
        @include sm() {
          width: 30%;
        }
      }
    }

    .input_label_container {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      width: 100%;
      @include sm() {
        row-gap: 12px;
      }

      label {
        color: #605e5e;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 500;
        @include sm() {
          font-size: 14px;
        }
      }

      input {
        border-radius: 5px;
        background: #fff;
        border: none;
        color: #c1bcbc;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 18px 40px;
        width: 100%;

        @include sm() {
          padding: 14px 20px;
          font-size: 16px;
        }
      }
    }

    .event_notification_container {
      display: flex;
      column-gap: 16px;

      p {
        color: #595555;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .signup_button {
      color: #fff;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
      padding: 10px 64px;
      border-radius: 5px;
      background: #526fe8;
      border: none;
      cursor: pointer;

      @include sm() {
        padding: 14px 0;
        font-size: 14px;
        width: 100%;
      }
    }

    .terms_and_conditions_text {
      color: #0a0a0a;
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include sm() {
        text-align: center;
      }

      .terms_Conditions_link {
        text-decoration: none;
        color: #253da1;
      }
    }

    .google_button,
    .facebook_button {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      padding: 14px 160px;
      border-radius: 5px;
      background: #fff;
      color: #02198b;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border: none;
      cursor: pointer;
      @include sm() {
        column-gap: 16px;
        padding: 14px 0;
        font-size: 14px;
        width: 100%;
      }
    }

    p {
      color: #0e0e0e;
      font-family: Raleway;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @include sm() {
        font-size: 14px;
        font-weight: 700;
      }

      .signin_link {
        font-weight: 700;
        color: #253da1;
        text-decoration: none;
      }
    }
  }
}
