@use "../../assets/styles/" as *;

.ForgotPasswordPage {
  // display: flex;
  // width: 100%;
  
    // background: url('../../assets/images/signin_top_right_icon.png') left top no-repeat, url('../../assets/images/signin_bottom_left_icon.png') bottom right no-repeat;
    // background-size: 100px, 100px;
    background-image: url("../../assets/images/login_background.png");
    background-size: cover;
    background-position: center;
    .ForgotPassword_wrapper{
      margin: 2rem 0;
      padding: 80px 20px 100px 20px;
    img{
      height: 250px;
      width: 240px;
      @include sm() {
        display: none;
      }
    }
    .sign_icon_top{
      position: absolute;
      left: 0;
      top: -3.2rem;
    }
    .sign_icon_bottom{
      position: absolute;
      bottom: -10rem;
      right: -0.5rem;
    }
  
    .form_container{
      display: flex;
      gap: 10px;
      width: 70%;
      background: rgba(234, 234, 234, 1);
      margin: 20px auto 50px auto;
      padding: 50px 10px;
      border-radius: 8px;
      @include sm() {
        width: 100%;
      }
      .left_side{
        width: 50%;
        margin-top: 50px;
        text-align: center;
        @include sm() {
          display: none;
        }
        img{
          width: 280px;
          height: 280px;
          @include md() {
            width: 280px;
            height: 200px;
          }
          @include sm() {
            display: none;
          }
          
        }
      }
      .right_side{
        width: 50%;
        @include sm() {
          width: 100%;
        }
        h3{
          text-align: center;
          font-weight: 700;
          margin: 10px 0 25px 0;
        }
        form{
          p{
            padding: 15px 0;
          }
          // p:nth-child(5){
          //   color: rgba(37, 61, 161, 1);
          //   text-align: right;
          //   cursor: pointer;
          // }
          input{
            width: 100%;
            padding: 10px 5px;
            background: rgba(255, 255, 255, 1);
            outline: none;
            border: none;
            border-radius: 8px;
          }
          .btn_container{
            margin-top: 15px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-self: center;
            button{
              background: rgba(82, 111, 232, 1);
              padding: 10px 50px 10px 50px;
              color: rgba(255, 255, 255, 1);
              border: none;
              border-radius: 8px;
              margin: 70px 10px 10px 10px;
            }
          }
          
        }
      }
    }

    
    @include sm() {
      padding: 40px 20px 100px 20px;
      justify-content: flex-start;
    }

    
    }
    // @include sm() {
    //   padding: 40px 20px 100px 20px;
    //   justify-content: flex-start;
    // }
  }

  

