@use "../../assets/styles/" as *;
.GotEmailPage{
  // background: url('../../assets/images/signin_top_right_icon.png') left top no-repeat, url('../../assets/images/signin_bottom_left_icon.png') bottom right no-repeat;
  // background-size: 150px, 150px;
  background-image: url("../../assets/images/login_background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px 200px 20px;
  @include sm() {
    background-size: 100px, 100px;
  }
  img{
    width: 200px;
    height: 150px;
    @include sm() {
      width: 150px;
      height: 120px;
    }
  }
  h3{
    padding: 20px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  p{
    color: rgba(163, 163, 163, 1);
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
    color: #A3A3A3;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span{
      font-weight: 700;
      font-size: 20px;
      color: #121010;
      cursor: pointer;
    }
  } 
  .receive_mail {
    color: #595555;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .receive_mail_span {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .open_email_btn{
    background: rgba(82, 111, 232, 1);
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 2px;
    cursor: pointer;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .back_to_login_btn{
    cursor: pointer;
    margin: 15px 2px;
    color: rgba(2, 5, 90, 1);
    background: none;
    border: none;
    font-size: 18px;
    span{
      color: rgba(0, 0, 0, 1);
      font-size: 20px;
      align-self: center;
    }
  }
}